@model IEnumerable<ecommerce.protume.Models.DataBase.proveedor>

@{
    ViewBag.Title = "Proveedores";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                DIRECCIÓN
            </th>
            <th>
                TELÉFONO
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                DIRECCIÓN
            </th>
            <th>
                TELÉFONO
            </th>
            <th></th>
        </tr>
    </tfoot>
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>

                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Asignar producto", "AsignarProducto", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id })

            </td>
        </tr>
        i++;
    }

</table>
