@model ecommerce.protume.Models.DataBase.detalleProducto

@{
    ViewBag.Title = "Asignar Proveedores";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.id_producto, "id_producto", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Producto</label>
            <div class="col-md-10">
                @Html.DropDownList("id_producto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.id_proveedor, "id_proveedor", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Proveedor</label>
            <div class="col-md-10">
                @*@Html.DropDownList("id_proveedor", null, htmlAttributes: new { @class = "form-control" })*@
                <input type="hidden" id="id_proveedor" class="form-control" name="id_proveedor" />
                <div class="col-md-10">
                    <input type="text" id="proveedor" class="form-control" />
                </div>
                <div class="col-md-2">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProveedores">Seleccionar</button>
                </div>


                @Html.ValidationMessageFor(model => model.id_proveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@




<!-- Modal -->
<div id="modalProveedores" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Proveedores</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                NOMBRE
                            </th>
                            <th>
                                DIRECCIÓN
                            </th>
                            <th>
                                TELÉFONO
                            </th>
                            <th  class="text-center">SELECCIONAR</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                NOMBRE
                            </th>
                            <th>
                                DIRECCIÓN
                            </th>
                            <th>
                                TELÉFONO
                            </th>
                            <th  class="text-center">SELECCIONAR</th>
                        </tr>
                    </tfoot>
                    @foreach (var item in ViewBag.ListaProveedores)
                    {
                        <tr>
                            <td>
                                @item.nombre
                            </td>
                            <td>
                                @item.direccion
                            </td>
                            <td>
                                @item.telefono
                            </td>
                            <td class="text-center">
                                <a onclick="cargarProveedor(@item.id,'@item.nombre')" class="btn btn-info btn-xs glyphicon glyphicon-link"></a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

@section scriptsAdmin{

    <script>
        function cargarProveedor(id, nombre) {
            $("#id_proveedor").val(id);
            $("#proveedor").val(nombre);
            $("#modalProveedores").modal('hide');
        }

    </script>    
    
    
}