@model IEnumerable<ecommerce.protume.Models.DataBase.detalleProducto>

@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                N°
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.producto.nombre)*@
                PRODUCTO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.proveedor.nombre)*@
                PROVEEDOR
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.proveedor.nombre)*@
                CATEGORÍA
            </th>
            <th>
                PRECIO (S/)
            </th>
            <th>
                STOCK
            </th>
            <th>
                DESCRIPCIÓN
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                N°
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.producto.nombre)*@
                PRODUCTO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.proveedor.nombre)*@
                PROVEEDOR
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.proveedor.nombre)*@
                CATEGORÍA
            </th>
            <th>
                PRECIO (S/)
            </th>
            <th>
                STOCK
            </th>
            <th>
                DESCRIPCIÓN
            </th>
            <th></th>
        </tr>
    </tfoot>
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.categoria.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
        </td>
    </tr>
        i++;
    }

</table>
