@model ecommerce.protume.Models.DataBase.cliente

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title de Cliente</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
           Dirección de envío
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_envio)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Correo Electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        

    </dl>
</div>
<p>
    
    @Html.ActionLink("Volver a la lista", "Index")
</p>
