@model IEnumerable<ecommerce.protume.Models.DataBase.cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>


<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRES
            </th>
            <th>
                APELLIDOS
            </th>
            <th>
                DIRECCIÓN
            </th>
            <th>
                DIRECCIÓN DE ENVÍO
            </th>
            <th>
                TELÉFONO
            </th>
            <th>
                CORREO ELECTRÓNICO
            </th>

            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRES
            </th>
            <th>
                APELLIDOS
            </th>
            <th>
                DIRECCIÓN
            </th>
            <th>
                DIRECCIÓN DE ENVÍO
            </th>
            <th>
                TELÉFONO
            </th>
            <th>
                CORREO ELECTRÓNICO
            </th>

            <th></th>
        </tr>
    </tfoot>
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion_envio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>

            <td>

                @Html.ActionLink("Detalles", "Details", new { id = item.id })

            </td>
        </tr>
        i++;
    }

</table>
