<!-- Header Area -->
<div class="header-area">
    <!-- Header top bar -->
    <div class="header-top-bar">
        <div class="container">
            <div class="header-top-inner">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="header-top-left">
                            <div class="phone">
                                <label>Llamanos:</label> (066) 839847
                            </div>
                            <div class="e-mail">
                                <label>Correo electrónico:</label> protume@dist.com
                            </div>
                            <!-- Header Link Area -->
                            <div class="header-link-area">
                               
                                <div class="header-link">
                                  
                                    <ul>             
                                     
                                        @if(Request.Cookies["userInfo"]==null)
                                        {
                                            <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
                                            <li><text> o </text></li>
                                            <li><a href="#registerModal" role="button" data-toggle="modal"> Registrar </a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#">Hola @ecommerce.protume.Controllers.AccountController.ObtenerNombreUsuario(Request.Cookies["userInfo"]["id"].ToString())</a></li>
                                            <li><text> | </text></li>
                                            <li><a href="@Url.Action("Logout", "Account" )"> Cerrar Sesion </a></li>
                                            <li>
                                                <a href="#">Cuenta <span class="caret"></span></a>
                                                <ul>
                                                    @*<li><a href="#">Mi cuenta</a></li>*@
                                                    <li><a href='@Url.Action("Index","Carrito")'>Mi carrito de compras</a></li>
                                                    <li><a href='@Url.Action("Index","Compra")'>Pagar</a></li>
                                                    @*<li><a href="#">Ingresar</a></li>*@
                                                </ul>
                                            </li>
                                        }
                                        
                                    </ul>
                                </div>
                            </div><!-- End Header Link Area -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="header-top-right">
                            <!-- Header Social Icon -->
                            <div class="header-social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Header Top bar -->


    <!-- Header bottom -->
    @*<div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    
                    <div class="header-search">
                        <form action='@Url.Action("Buscar","Tienda")' method="get">
                            <input type="text" placeholder="BUSCAR..." name="p">
                            <button type="button" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                   
                    <div class="header-logo">
                        <a href="~/"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                   
                    <div class="header-cart-area">
                        <div class="header-cart">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="my-cart">Mi carrito</span>
                                        <span class="badge" id="totalCart">0</span>
                                    </a>
                                    <ul id="itemcarrito">
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div><!-- End Header Area -->

<br />
<!-- Main Menu Area -->
<div class="main-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- Main Menu -->
                <div class="main-menu hidden-sm hidden-xs">
                    <nav class="pull-left">
                        <ul class="main-ul">

                            <a href="~/"><img src="~/assets/img/logo/logo.png" alt="logo" width="200px"></a>

                            <li class="sub-menu-li">
                                <a href="~/" class="active">Inicio</a>

                            </li>
                            <li>
                                <a href="~/Tienda"> Productos</a>

                            </li>
                            <li>
                                <a href="#"> Conócenos</a>

                            </li>

                        </ul>
                    </nav>

                </div><!-- End Main Menu -->
                <!-- Start Mobile Menu -->
                <div class="mobile-menu hidden-md hidden-lg">
                    <nav>
                        <ul>
                            <li class="">
                                <a href="~/">Inicio</a>

                            </li>
                            <li>
                                <a href="~/Tienda">Productos</a>

                            </li>
                            <li>
                                <a href="#"> Conócenos</a>

                            </li>


                        </ul>
                    </nav>
                </div><!-- End Mobile Menu -->
            </div>
            <div class="col-md-3">
                <div class="header-search">
                    <form action='@Url.Action("Buscar","Tienda")' method="get">
                        <input type="text" placeholder="BUSCAR..." name="p">
                        <button type="button" class="btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <!-- Header Cart Area-->
                <div class="header-cart-area">
                    <div class="header-cart">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="my-cart">Mi carrito</span>
                                    <span class="badge" id="totalCart">0</span>
                                </a>
                                <ul id="itemcarrito"></ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- End Header Cart Area-->
            </div>
        </div>
    </div>
</div><!-- End Main Menu Area -->






<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Ingrese a su Cuenta</h1><br>
            <form method="post" action="@Url.Action("Login","Account")">
                <input type="text" name="correo" placeholder="Correo">
                <input type="password" name="contrasena" placeholder="Contraseña">
                <input type="submit" name="login" class="login loginmodal-submit" value="Ingresar">
            </form>

            <div class="login-help">
                <a href="#">Registrate</a> - <a href="#">Olvido su contraseña?</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="registermodal-container">
            <h1>Registrarse</h1><br>
            <form role="form" method="POST" action="@Url.Action("RegistrarCliente","Account")">

                <fieldset>
                    <legend>Account Details</legend>
                    <div class="form-group col-md-6">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Confirmar Contraseña</label>
                        <input type="password" class="form-control" name="" placeholder="Confirmar Contraseña">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Dirección</label>
                        <input type="text" class="form-control" name="direccion" placeholder="Dirección">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Teléfono / Celular</label>
                        <input type="text" class="form-control" name="telefono" placeholder="Teléfono / Celular">
                    </div>


                </fieldset>
                
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="">
                                Acepto los <a href="#">términos y condiciones</a>.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            Registrar
                        </button>
                        <a href="#modalLogin">¿Ya tienes una cuenta?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>