<!-- Header Area -->
<div class="header-area">
    <!-- Header top bar -->
    <div class="header-top-bar">
        <div class="container">
            <div class="header-top-inner">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="header-top-left">
                            <div class="phone">
                                <label>Llamanos:</label> (066) 839847
                            </div>
                            <div class="e-mail">
                                <label>Correo electrónico:</label> protume@dist.com
                            </div>
                            <!-- Header Link Area -->
                            <div class="header-link-area">
                               
                                <div class="header-link">
                                    @*<p class="hidden-md hidden-sm hidden-xs">Currency: </p>*@
                                    <ul>
                                        @*<li class="hidden-md hidden-sm hidden-xs">
            <a href="#">Nombre</a> |
        </li>
        <li class="hidden-md hidden-sm hidden-xs">
            <a href="#">Cerrar sesión </span></a>
        </li>*@

                                        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                                        {
                                            <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
                                            <li><text> o </text></li>
                                            <li><a href="#registerModal" role="button" data-toggle="modal"> Registrar </a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#">Hola @ecommerce.protume.Controllers.AccountController.ObtenerNombreUsuario()</a></li>
                                            <li><text> o </text></li>
                                            <li><a href="@Url.Action("Logout", "Home" )"> Cerrar Sesion </a></li>
                                            <li>
                                                <a href="#">Cuenta <span class="caret"></span></a>
                                                <ul>
                                                    <li><a href="#">Mi cuenta</a></li>
                                                    <li><a href='@Url.Action("Index","Carrito")'>Mi carrito de compras</a></li>
                                                    <li><a href='@Url.Action("Paso1","Compra")'>Pagar</a></li>
                                                    @*<li><a href="#">Ingresar</a></li>*@
                                                </ul>
                                            </li>
                                        }
                                        @*<li><a href="#">Hola @ecommerce.protume.Controllers.AccountController.ObtenerNombreUsuario()</a></li>*@
                                    </ul>
                                </div>
                            </div><!-- End Header Link Area -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="header-top-right">
                            <!-- Header Social Icon -->
                            <div class="header-social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Header Top bar -->
    <!-- Header bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <!-- Header Search -->
                    <div class="header-search">
                        <form action='@Url.Action("Buscar","Tienda")' method="get">
                            <input type="text" placeholder="BUSCAR..." name="p">
                            <button type="button" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <!-- Header logo -->
                    <div class="header-logo">
                        <a href="~/"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <!-- Header Cart Area-->
                    <div class="header-cart-area">
                        <div class="header-cart">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="my-cart">Mi carrito</span>
                                        <span class="badge" id="totalCart">0</span>
                                    </a>
                                    <ul id="itemcarrito">
                                        @*<li >
                                            <div class="cart-list">
                                                <div class="cart-list-item">
                                                    <div class="cart-list-img">
                                                        <a href="#"><img src="~/assets/img/cart/c1.jpg" alt="cart" /></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <a href="#">Etiam gravida</a>
                                                        <p>1 x <span>$432.00</span></p>
                                                    </div>
                                                    <div class="cart-button">
                                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                                        <a href="#"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cart-subtotal">
                                                <p>Subtotal: <span>$1,131.00</span></p>
                                            </div>
                                            <div class="cart-action">
                                                <button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button>
                                            </div>*@


                                        @*<div class="span3">
                                                        <div class="cart-container" id="cartContainer">
                                                            <div class="cart">
                                                                <p class="items">CART <span id="nroProductosCarrito" class="dark-clr">(0)</span></p>
                                                                <p id="totalCompraCarrito" class="dark-clr hidden-tablet">0.00</p>
                                                                <a href="checkout-step-1.html" class="btn btn-danger">

                                                                    <i class="icon-shopping-cart"></i>
                                                                </a>
                                                            </div>
                                                            <div class="open-panel">
                                                                <div id="itemcarrito"></div>

                                                                <div class="summary">
                                                                    <div class="line">
                                                                        <div class="row-fluid">
                                                                            <div class="span6">TOTAL:</div>
                                                                            <div id="totalCarrito" class="span6 align-right size-16">0.00</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="proceed">
                                                                    <a href='@Url.Action("Paso1","Compra")' class="btn btn-danger pull-right bold higher">COMPRAR <i class="icon-shopping-cart"></i></a>
                                                                    <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                            </li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div><!-- End Header Cart Area-->
                </div>
            </div>
        </div>
    </div><!-- End Header bottom -->
</div><!-- End Header Area -->
<!-- Main Menu Area -->
<div class="main-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Main Menu -->
                <div class="main-menu hidden-sm hidden-xs">
                    <nav>
                        <ul class="main-ul">
                            <li class="sub-menu-li">
                                <a href="~/" class="active">Inicio@*<i class="fa fa-chevron-down"></i>*@</a>
                                
                            </li>
                            <li>
                                <a href="~/Tienda">@*<span class="label-menu">Sale</span>*@ Productos@*<i class="fa fa-chevron-down"></i>*@</a>
                             
                            </li>




                        </ul>
                    </nav>
                </div><!-- End Main Menu -->
                <!-- Start Mobile Menu -->
                <div class="mobile-menu hidden-md hidden-lg">
                    <nav>
                        <ul>
                            <li class="">
                                <a href="~/">Inicio</a>

                            </li>
                            <li>
                                <a href="~/Tienda">Productos</a>

                            </li>



                        </ul>
                    </nav>
                </div><!-- End Mobile Menu -->
            </div>
        </div>
    </div>
</div><!-- End Main Menu Area -->






<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Ingrese a su Cuenta</h1><br>
            <form method="post" action="@Url.Action("Login","Account")">
                <input type="text" name="correo" placeholder="Correo">
                <input type="password" name="contrasena" placeholder="Contraseña">
                <input type="submit" name="login" class="login loginmodal-submit" value="Ingresar">
            </form>

            <div class="login-help">
                <a href="#">Registrate</a> - <a href="#">Olvido su contraseña?</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="registermodal-container">
            <h1>Registrarse</h1><br>
            <form role="form" method="POST" action="@Url.Action("RegistrarCliente","Account")">

                <fieldset>
                    <legend>Account Details</legend>
                    <div class="form-group col-md-6">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Confirmar Contraseña</label>
                        <input type="password" class="form-control" name="" placeholder="Confirmar Contraseña">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Dirección</label>
                        <input type="text" class="form-control" name="direccion" placeholder="Dirección">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Teléfono / Celular</label>
                        <input type="text" class="form-control" name="telefono" placeholder="Teléfono / Celular">
                    </div>


                </fieldset>
                
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="">
                                Acepto los <a href="#">términos y condiciones</a>.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            Registrar
                        </button>
                        <a href="#modalLogin">¿Ya tienes una cuenta?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>