@model IEnumerable<ecommerce.protume.Models.DataBase.detalleProducto>

@{
    ViewBag.Title = "Detalles de Producto";
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12">
    @Html.ActionLink("Volver a la lista", "Index")
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                N°
            </th>
            <th>
                PRODUCTO
            </th>
            <th>
                PROVEEDOR
            </th>
            <th>
                STOCK (Kg.)
            </th>
            <th>
                PRECIO/Kg
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                N°
            </th>
            <th>
                PRODUCTO
            </th>
            <th>
                PROVEEDOR
            </th>
            <th>
                STOCK (Kg.)
            </th>
            <th>
                PRECIO/Kg
            </th>
            <th></th>

        </tr>
    </tfoot>
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proveedor.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.ActionLink("Asignar Imagenes", "AsignarImagen", new { id = item.id })
            </td>

        </tr>
        i++;
    }

</table>

