@model IEnumerable<ecommerce.protume.Models.DataBase.pedido>

@{
    ViewBag.Title = "Pedidos";

}

<h2>@ViewBag.Title</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRES
            </th>
            <th>
                APELLIDOS
            </th>
            <th>
                DIRECCIÓN
            </th>
            <th>
                TELÉFONO
            </th>
            <th>
                CORREO ELECTRÓNICO
            </th>

            <th>
                FECHA DE PEDIDO
            </th>
            <th>
                ESTADO DEL PEDIDO
            </th>

            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                N°
            </th>
            <th>
                NOMBRES
            </th>
            <th>
                APELLIDOS
            </th>
            <th>
                DIRECCIÓN
            </th>
            <th>
                TELÉFONO
            </th>
            <th>
                CORREO ELECTRÓNICO
            </th>

            <th>
                FECHA DE PEDIDO
            </th>
            <th>
                ESTADO DEL PEDIDO
            </th>

            <th></th>
        </tr>
    </tfoot>
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        string estilo;
        if (item.estado == "Entregado")
        {
            estilo = "green";
        }
        else if (item.estado == "En espera")
        {
            estilo = "red";
        }
        else
        {
            estilo = "orange";
        }
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td style="color:@estilo">
                @Html.DisplayFor(modelItem => item.estado)
            </td>


            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
            </td>
        </tr>
        i++;
    }

</table>
