@model ecommerce.protume.Models.DataBase.producto

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title Producto</h2>

<h3>¿Está seguro de eliminar el registro?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre@*@Html.DisplayNameFor(model => model.nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio@*@Html.DisplayNameFor(model => model.precio)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Stock@*@Html.DisplayNameFor(model => model.stock)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            Descripción@*@Html.DisplayNameFor(model => model.descripcion)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Categoría@*@Html.DisplayNameFor(model => model.categoria.nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a a lista", "Index")
        </div>
    }
</div>
