@model ecommerce.protume.Models.DataBase.detallePedido

@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title Pedido</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.pedido.estado, new { htmlAttributes = new { @class = "form-control",@id="estado" } })

    <div class="form-group">
        <label class="control-label col-md-2">Estado</label>
        <div class="col-md-10 estado">
            <select class="form-control" name="estado">
                <option value="Enviado" selected>Enviado</option>
                <option value="En espera">En espera</option>
                <option value="Entregado">Entregado</option>
            </select>
            @*@Html.ValidationMessageFor(model => model.id_pedido, "", new { @class = "text-danger" })*@
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.id_detalle_producto, "id_detalle_producto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_detalle_producto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_detalle_producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section scriptsAdmin{
  <script>
      //$(document).ready(function () {
      //    //Seleccionar el option segun su valor
      //    var estado = $("#estado").val();
      //    console.log(estado);
      //    $(".estado select").val(estado);
      //})
 </script>
}