@model IEnumerable<ecommerce.protume.Models.DataBase.detalleProducto>

@{
                /**/


                ViewBag.Title = "Tienda";
}


<div class="col-md-9 col-sm-12">
    <div class="shop-product-right">
        <!-- Fetured Product area -->
        <div class="fetured-product-area brand-products c-carousel-button">
            <div class="row">
                <div class="col-md-12">
                    <div class="fetured-products">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="products-head">
                                    @*<div class="products-head-title">
                                            <i class="fa fa-picture-o"></i>
                                            <h2>Featured products</h2>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Fetured Product Carousel -->
                <div id="feture-products" class="owl-carousel">
                    @{
                        int i = 1;

                        var a = "<div class='col-md-12 col-sm-12'>";
                        var b = "</div>";
                    }

                    @foreach (var item in Model)
                    {


                        if (i == 1)
                        {
                            //var imag = @item.productoImagen.FirstOrDefault();
                            //string img = imag == null ? "no_disponible.jpg" : imag.imagen;


                            @Html.Raw(a)
                        }



                        <div class="col-lg-4 col-md-4">
                            <div class="fiture-poroduct-single-item">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="~/ImgProductos/@(item.productoImagen.FirstOrDefault() !=null? item.productoImagen.FirstOrDefault().imagen.ToString() : "no_disponible.jpg")" alt="product">
                                            @*<img class="secondary-img" src="~/ImgProductos/@img" alt="product">*@
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">@item.producto.nombre</a></h2>
                                            <p class="product-price">S/ @item.precio</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button" onclick=" AgregarCarrito(@item.id, '@item.producto.nombre', '@(item.productoImagen.FirstOrDefault() !=null? item.productoImagen.FirstOrDefault().imagen.ToString() : "no_disponible.jpg")', @item.precio)"><i class="fa fa-shopping-cart"></i> <span>Al carrito</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" onclick="mostrarDetalles(@item.id)"><i class="fa fa-search"></i>Detalles</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (i == 9)
                        {
                            @Html.Raw(b)
                            i = 0;
                        }
                        i++;
                    }

                </div><!-- End Fetured Products Carousel -->
            </div>




        </div><!-- End Fetured Product area -->

    </div><!-- End Shop Product Left -->
</div>


@section scripts{
   

    <script>

        function mostrarDetalles(id) {

            window.location = "/Productos/Detalles/" + id;
        }

        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function AgregarCarrito(productoid, denominacion, imagen, precio) {


            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

        function CargaCarrito(productos) {
            //var html = '';
            var html2 = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                //html += '<div class="item-in-cart clearfix">' +
                //    '    <div class="image">' +
                //    '             <img src="http://localhost/Admin/ImgProductos/' + this.Imagen + '"  width="124" height="124" alt="cart item" />' +
                //    '           </div>' +
                //    '           <div class="desc">' +
                //    '                 <strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                //    '                <span class="light-clr qty">Qty: ' + this.Cantidad + ' &nbsp;' +
                //    '                       <a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                //    '                    </span>' +
                //    '                </div>' +
                //    '                <div class="price">' +
                //    '                   <strong>S/. ' + this.Precio + '</strong>' +
                //    '               </div>' +
                //    '           </div>';



                html2 += '<li >' +
                    ' <div class="cart-list">' +
                    '     <div class="cart-list-item">' +
                    '         <div class="cart-list-img">' +
                    '             <a href="#"><img src="/ImgProductos/' + this.Imagen + '" alt="cart" width="70" height="100" /></a>' +
                    '         </div>' +
                    '         <div class="cart-content">' +
                    '             <a href="#">' + this.Denominacion + '</a>' +
                    '             <p>' + this.Cantidad + ' x <span>S/ ' + this.Precio + '</span></p>' +
                    '         </div>' +
                    '         <div class="cart-button">' +
                    '             <a href="#"><i class="fa fa-pencil"></i></a>' +
                    '             <a href="#"><i class="fa fa-times"></i></a>' +
                    '         </div>' +
                    '     </div>' +
                    ' </div>'+
                '</li>';
                    //       ' <div class="cart-subtotal">' +
                    //       '     <p>Subtotal: <span>$1,131.00</span></p>' +
                    //       ' </div>' +
                    //       ' <div class="cart-action">' +
                    //       '     <button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button>' +
                    //       ' </div>' +
                    //'</li>';



            });

            html2 +=' <div class="cart-subtotal">' +
                    '     <p>Subtotal: <span>$'+total+'</span></p>' +
                    ' </div>' +
                    ' <div class="cart-action">' +
                    '     <a href="@Url.Action("Index", "Compra")"><button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button></a>' +
                    ' </div>';

            $('#itemcarrito').html(html2);

            //$("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

    </script>

}