@model IEnumerable<ecommerce.protume.Models.DataBase.detalleProducto>

@{

    ViewBag.Title = "Tienda";
}


<div class="col-md-9 col-sm-12">
    <!-- Shop Product Right -->
    <div class="shop-product-right">
        <div class="product-tab-area">
            <!-- Tab Bar -->
            <div class="tab-bar">
                @*<div class="tab-bar-inner">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#shop-product" data-toggle="tab"><i class="fa fa-th-large"></i>Grid</a></li>
                            <li><a href="#shop-list" data-toggle="tab"><i class="fa fa-th-list"></i>List</a></li>
                        </ul>
                    </div>*@
                <div class="toolbar">
                    <div class="sorter">
                        <div class="sort-by">
                            <label>Ordenar por</label>
                            <select>
                                <option value="position">Posición</option>
                                <option value="name">Nombre</option>
                                <option value="price">Precio</option>
                            </select>
                            <a href="#"><i class="fa fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                    <div class="pager-list">
                        <div class="limiter">
                            <label>Ver</label>
                            <select>
                                <option value="9">12</option>
                                <option value="12">15</option>
                                <option value="24">18</option>
                                <option value="36">36</option>
                            </select>
                            por página
                        </div>
                    </div>
                </div>
            </div><!-- End Tab Bar -->
            <!-- Tab Content -->
            <div class="tab-content">
                <div class="tab-pane active" id="shop-product">
                    <div class="row tab-content-row">
                        @foreach (var item in Model)
                        {

                            var imag = @item.productoImagen.FirstOrDefault();
                            string img = imag == null ? "no_disponible.jpg" : imag.imagen;
                            <!-- Start Single Product Column -->
                            <div class="col-md-4 col-sm-4">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="~/ImgProductos/@img" alt="product">
                                            <img class="secondary-img" src="~/ImgProductos/@img" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">@item.producto.nombre</a></h2>
                                            <p class="product-price">S/ @item.precio</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button" onclick="AgregarCarrito(@item.id,'@item.producto.nombre','@img',@item.precio)"><i class="fa fa-shopping-cart"></i> <span>Al carrito</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" onclick="mostrarDetalles(@item.id)" @*data-toggle="modal" data-target="#productModal"*@><i class="fa fa-search"></i>Detalles</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->


                        }
                    </div>


                </div>

            </div><!-- End Tab Content -->
            <!-- Tab Bar -->
            <div class="tab-bar">
                <div class="toolbar">
                    <div class="sorter">
                        <div class="sort-by">
                            <label>Ordenar por</label>
                            <select>
                                <option value="position">Posición</option>
                                <option value="name">Nombre</option>
                                <option value="price">Precio</option>
                            </select>
                            <a href="#"><i class="fa fa-long-arrow-up"></i></a>
                        </div>
                    </div>
                    <div class="pages">
                        <strong>Página:</strong>
                        <ol>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a title="Next" href="#"><i class="fa fa-arrow-right"></i></a></li>
                        </ol>
                    </div>
                </div>
            </div><!-- End Tab Bar -->
        </div>
    </div><!-- End Shop Product Left -->
</div>
<!-- Brand Logo area -->
@*<div class="brand-logo-area">
        <div class="container">
            <div class="brand-logo">
                <div class="brand-logo-title">
                    <h2>Proveedores</h2>
                </div>
                <div id="brands-logo" class="owl-carousel">
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo1.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo5.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo2.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo3.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo4.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo1.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo5.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo3.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo4.png" alt="logo">
                        </a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#">
                            <img src="img/brand-logo/blogo2.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@<!-- End Brand Logo area -->
<!-- QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="product" src="~/assets/img/product/sp2.jpg">
                            </div>
                        </div><!-- .product-images -->

                        <div class="product-info">
                            <h1>Cras neque metus</h1>
                            <div class="price-box">
                                <p class="price"><span class="special-price"><span class="amount">$155.00</span></span></p>
                            </div>
                            <a href="product-details.html" class="see-all">See all features</a>
                            <div class="quick-add-to-cart">
                                <form method="post" class="cart">
                                    <div class="add-to-box add-to-box2">
                                        <div class="add-to-cart">
                                            <div class="input-content">
                                                <label for="qty">Qty:</label>
                                                @*<input type="button" value="-" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty ) &amp);&amp; qty &gt; 0 ) qty_el.value--;return false;" class="qty-decrease">*@
                                                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
                                                <input type="button" value="+" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;" class="qty-increase">
                                            </div>
                                            <button class="btn" type="button"><span>Add to cart</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="quick-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                            </div>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social-icons">
                                        <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                        <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- END Modal -->
</div><!-- END QUICKVIEW PRODUCT -->


@section scripts{

    @*<script>
            function mostrarDetalles(id) {

                $.ajax({

                    method: "post",
                    url: "/Tienda/mostrarDetalles/" + id,
                    success: function (data) {
                        alert(data)
                    }


                })
            }
        </script>*@

    <script>

        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function AgregarCarrito(productoid, denominacion, imagen, precio) {

           
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

        function CargaCarrito(productos) {
            //var html = '';
            var html2 = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                //html += '<div class="item-in-cart clearfix">' +
                //    '    <div class="image">' +
                //    '             <img src="http://localhost/Admin/ImgProductos/' + this.Imagen + '"  width="124" height="124" alt="cart item" />' +
                //    '           </div>' +
                //    '           <div class="desc">' +
                //    '                 <strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                //    '                <span class="light-clr qty">Qty: ' + this.Cantidad + ' &nbsp;' +
                //    '                       <a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                //    '                    </span>' +
                //    '                </div>' +
                //    '                <div class="price">' +
                //    '                   <strong>S/. ' + this.Precio + '</strong>' +
                //    '               </div>' +
                //    '           </div>';



                html2 += '<li >' +
                    ' <div class="cart-list">' +
                    '     <div class="cart-list-item">' +
                    '         <div class="cart-list-img">' +
                    '             <a href="#"><img src="/ImgProductos/' + this.Imagen + '" alt="cart" width="70" height="100" /></a>' +
                    '         </div>' +
                    '         <div class="cart-content">' +
                    '             <a href="#">' + this.Denominacion + '</a>' +
                    '             <p>' + this.Cantidad + ' x <span>S/ ' + this.Precio + '</span></p>' +
                    '         </div>' +
                    '         <div class="cart-button">' +
                    '             <a href="#"><i class="fa fa-pencil"></i></a>' +
                    '             <a href="#"><i class="fa fa-times"></i></a>' +
                    '         </div>' +
                    '     </div>' +
                    ' </div>'+
                '</li>';
                    //       ' <div class="cart-subtotal">' +
                    //       '     <p>Subtotal: <span>$1,131.00</span></p>' +
                    //       ' </div>' +
                    //       ' <div class="cart-action">' +
                    //       '     <button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button>' +
                    //       ' </div>' +
                    //'</li>';

                

            });

            html2 +=' <div class="cart-subtotal">' +
                    '     <p>Subtotal: <span>$'+total+'</span></p>' +
                    ' </div>' +
                    ' <div class="cart-action">' +
                    '     <a href="@Url.Action("Paso1", "Compra")"><button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button></a>' +
                    ' </div>';

            $('#itemcarrito').html(html2);

            //$("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

    </script>

}