@model IEnumerable<ecommerce.protume.Models.DataBase.detalleProducto>

@{

    ViewBag.Title = "Productos";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Protume</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/admin/images/logo.ico">
    <link href="~/assets/css/login.css" rel="stylesheet" />

    <!-- Google Fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Mean Menu CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css">
    <!-- nivo-slider css
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/nivo-slider.css">
    <!-- Price slider css
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui-slider.css">
    <!-- Simple Lence css
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.simpleLens.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.simpleGallery.css">
    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- style CSS
    ============================================ -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- modernizr JS
    ============================================ -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jquery
    ============================================ -->
    <script src="~/assets/js/vendor/jquery-1.11.3.min.js"></script>
</head>
<body>

    @Html.Partial("_PartialMenu");
    <!-- Main Slider Area -->
    <div class="main-slider-area">
        <!-- Main Slider -->
        <div class="main-slider">
            <div class="slider">
                <div id="mainSlider" class="nivoSlider slider-image">
                    <img src="~/assets/img/slider/slider2.jpg" alt="main slider" title="#htmlcaption1" />
                    <img src="~/assets/img/slider/slider1.jpg" alt="main slider" title="#htmlcaption2" />
                    <img src="~/assets/img/slider/slider3.jpg" alt="main slider" title="#htmlcaption1" />
                    <img src="~/assets/img/slider/slider4.jpg" alt="main slider" title="#htmlcaption1" />
                    <img src="~/assets/img/slider/slider5.jpg" alt="main slider" title="#htmlcaption1" />
                    <img src="~/assets/img/slider/slider6.jpg" alt="main slider" title="#htmlcaption1" />
                </div>
                <!-- Slider Caption One -->
                <div id="htmlcaption1" class="nivo-html-caption slider-caption-1 hidden-xs">
                    <div class="slider-progress"></div>
                    <div class="slide-text">
                        <div class="middle-text">
                            <div class="cap-title wow zoomInUp" data-wow-duration=".9s" data-wow-delay="0s">
                                <h2>At Finally started...</h2>
                            </div>
                            <div class="cap-dec">
                                <h1 class="wow zoomInUp" data-wow-duration="1.1s" data-wow-delay="0s">Nuevas ofertas</h1>
                                <p class="wow zoomInUp" data-wow-duration="1.3s" data-wow-delay="0s"> productos frescos todos lo dias</p>
                            </div>
                            <div class="cap-readmore wow zoomInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                                <a href="~/Tienda">Explorar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div><!-- End Main Slider -->
    </div><!-- End Main Slider Area -->
    <!-- Product Area -->
    <div class="product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="product-top-bar customize-tab-bar">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#p-bestseller" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>Nuevos productos</a></li>
                            @*<li role="presentation"><a href="#p-new" data-toggle="tab"><i class="fa fa-star"></i>New Products</a></li>
                                <li role="presentation"><a href="#p-random" data-toggle="tab"><i class="fa fa-picture-o"></i>Random Products</a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Single Product area -->
                    <div class="single-product-area c-carousel-button">
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <!-- Tab Pane One -->
                            <div class="tab-pane active" id="p-bestseller">
                                <div class="row">
                                    <!-- Single Product Carousel-->
                                    <div id="single-product-bestseller" class="owl-carousel">
                                        @foreach (var item in Model)
                                        {

                                            var imag = @item.productoImagen.FirstOrDefault();
                                            string img = imag == null ? "no_disponible.jpg" : imag.imagen;

                                            <div class="col-md-3">
                                                <div class="single-product">
                                                    <div class="single-product-img">
                                                        <a href="#">
                                                            <img class="primary-img" src="~/ImgProductos/@img" alt="product">
                                                        </a>

                                                    </div>
                                                    <div class="single-product-content">
                                                        <div class="product-content-head">
                                                            <h2 class="product-title"><a href="#">@item.producto.nombre</a></h2>
                                                            <p class="product-price">$@item.precio</p>
                                                        </div>
                                                        <div class="product-bottom-action">
                                                            <div class="product-action">
                                                                <div class="action-button">
                                                                    <button class="btn" type="button" onclick="AgregarCarrito(@item.id,'@item.producto.nombre','@img',@item.precio)"><i class="fa fa-shopping-cart"></i> <span>Al carrito</span></button>
                                                                </div>
                                                                <div class="action-view">
                                                                    <button type="button" class="btn" onclick="mostrarDetalles(@item.id)"><i class="fa fa-search"></i>Detalles</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div><!-- End Single Product Carousel-->
                                </div>
                            </div><!-- End Tab Pane One -->


                        </div><!-- End Tab Content -->
                    </div><!-- End Single Product area -->
                </div>
            </div>
        </div>
    </div><!-- End Product area -->
    <!-- Footer area -->
    <div class="footer-area">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Footer Left -->
                        <div class="footer-left">
                            <!-- Footer Logog -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
                            </div>
                            <div class="footer-static-content">
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                            </div>
                            <div class="footer-payment">
                                <h2>Pagos</h2>
                                <ul>
                                    <li><a href="#"><img src="~/assets/img/logo/payment.png" alt="payment"></a></li>
                                </ul>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                    <div class="col-md-8 footer-right-col">
                        <!-- Footer Right -->
                        <div class="footer-right">
                            <div class="footer-newsletter">
                                @*<form action="#">
                                    <h2>Newsletter</h2>
                                    <input type="text" title="Sign up for our newsletter" required>
                                    <button type="submit">Subscribete</button>
                                </form>*@
                            </div>
                            <div class="information-link">
                                <div class="single-information-link">
                                    <h2>Informations</h2>
                                    <ul>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2>other static link</h2>
                                    <ul>
                                        <li><a href="#">Product Recall</a></li>
                                        <li><a href="#">Gift Vouchers</a></li>
                                        <li><a href="#">Returns and Exchanges</a></li>
                                        <li><a href="#">Shipping Options</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2> My account </h2>
                                    <ul>
                                        <li><a href="#">My orders</a></li>
                                        <li><a href="#">My credit slips</a></li>
                                        <li><a href="#">My addresses</a></li>
                                        <li><a href="#">My personal info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                </div>
            </div>
        </div><!-- End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright &copy; <a href="http://bootexperts.com/">BootExperts</a> All Rights Reserved.</p>
                </div>
            </div>
        </div><!-- End Footer Bottom -->
    </div><!-- End Footer area -->
    <!-- bootstrap JS
    ============================================ -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- nivo slider js
    ============================================ -->
    <script src="~/assets/js/jquery.nivo.slider.pack.js"></script>
    <!-- Mean Menu js
    ============================================ -->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!-- wow JS
    ============================================ -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- price-slider JS
    ============================================ -->
    <script src="~/assets/js/jquery-price-slider.js"></script>
    <!-- Simple Lence JS
    ============================================ -->
    <script type="text/javascript" src="~/assets/js/jquery.simpleGallery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.simpleLens.min.js"></script>
    <!-- owl.carousel JS
    ============================================ -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <!-- jquery Collapse JS
    ============================================ -->
    <script src="~/assets/js/jquery.collapse.js"></script>
    <!-- plugins JS
    ============================================ -->
    <script src="~/assets/js/plugins.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @*@RenderSection("scripts", required: false)*@
</body>
</html>

<script>
    function mostrarDetalles(id) {

        window.location = "Productos/Detalles/" + id;
    }
</script>


    <script>

        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function AgregarCarrito(productoid, denominacion, imagen, precio) {


            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

        function CargaCarrito(productos) {
            //var html = '';
            var html2 = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                //html += '<div class="item-in-cart clearfix">' +
                //    '    <div class="image">' +
                //    '             <img src="http://localhost/Admin/ImgProductos/' + this.Imagen + '"  width="124" height="124" alt="cart item" />' +
                //    '           </div>' +
                //    '           <div class="desc">' +
                //    '                 <strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                //    '                <span class="light-clr qty">Qty: ' + this.Cantidad + ' &nbsp;' +
                //    '                       <a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                //    '                    </span>' +
                //    '                </div>' +
                //    '                <div class="price">' +
                //    '                   <strong>S/. ' + this.Precio + '</strong>' +
                //    '               </div>' +
                //    '           </div>';



                html2 += '<li >' +
                    ' <div class="cart-list">' +
                    '     <div class="cart-list-item">' +
                    '         <div class="cart-list-img">' +
                    '             <a href="#"><img src="/ImgProductos/' + this.Imagen + '" alt="cart" width="70" height="100" /></a>' +
                    '         </div>' +
                    '         <div class="cart-content">' +
                    '             <a href="#">' + this.Denominacion + '</a>' +
                    '             <p>' + this.Cantidad + ' x <span>S/ ' + this.Precio + '</span></p>' +
                    '         </div>' +
                    '         <div class="cart-button">' +
                    '             <a href="#"><i class="fa fa-pencil"></i></a>' +
                    '             <a href="#"><i class="fa fa-times"></i></a>' +
                    '         </div>' +
                    '     </div>' +
                    ' </div>'+
                '</li>';
                    //       ' <div class="cart-subtotal">' +
                    //       '     <p>Subtotal: <span>$1,131.00</span></p>' +
                    //       ' </div>' +
                    //       ' <div class="cart-action">' +
                    //       '     <button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button>' +
                    //       ' </div>' +
                    //'</li>';



            });

            html2 +=' <div class="cart-subtotal">' +
                    '     <p>Subtotal: <span>$'+total+'</span></p>' +
                    ' </div>' +
                    ' <div class="cart-action">' +
                    '     <a href="@Url.Action("Index", "Compra")"><button type="button" class="btn"><span>Pagar</span> <i class="fa fa-long-arrow-right"></i></button></a>' +
                    ' </div>';

            $('#itemcarrito').html(html2);

            //$("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

    </script>


    <script>
        function totalCarrito() {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            totalProductos = productos.length;

            console.log(totalProductos);

            $("#totalCart").html(totalProductos);
        }
        totalCarrito();
    </script>




